<h2>Ajout d'une plante à identifier</h2>


<div class="panel-identification">
  <label>Choisir une taxonomie que vous pensez être la bonne:</label>
  <select [(ngModel)]="tmpSelectElement" class="selectpicker" data-live-search="true">
    <option data-tokens="espèce">Espece</option>
    <option data-tokens="genre">Genre</option>
    <option data-tokens="famille">Famille</option>
    <option data-tokens="ordre">Ordre</option>
    <option data-tokens="classe">Classe</option>
    <option data-tokens="embranchement">Embranchement</option>
  </select>
  <br>
  <br>
  <input [(ngModel)]="tmpvaleurElement" class="form-control input-sm" id="inputsm" type="text" placeholder="Exemple: Passiflora">
  <br>
  <br>
  <label>Choisir le chemin de la photo de la plante:</label>
  <input [(ngModel)]="photo" class="form-control input-sm" id="inputsm" type="text">
  <button (click)="addPlante()" type="submit">Sousmettre</button>
</div>