<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TagTaPlante</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/listeplantes">Home</a></li>
      <li><a routerLink="/listeplantes">A identifier</a></li>
      <li> <a routerLink="/rechercher">Rechercher</a></li>
      <li><a routerLink="/classement">Classement des observateurs</a></li>
      <li><a routerLink="/ajoutplante">Ajouter identification</a></li>
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Se loguer</a></li>
      <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> S'enregistrer</a></li> 
    </ul>
  </div>
</nav>
<!-- <app-web></app-web> -->


