<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TagTaPlante</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/listeplantes">Home</a></li>
      <li><a routerLink="/listeplantes">A identifier</a></li>
      <li> <a routerLink="/rechercher">Rechercher</a></li>
      <li><a routerLink="/classement">Classement des observateurs</a></li>
      <li><a routerLink="/loguer">Se loguer</a></li>
    </ul>
  </div>
</nav>