<div *ngIf="plante">
  <h2>Détails sur {{ plante.genre | uppercase }} </h2>
 <div class="ensemble-image-panel">
    <div class="image-plante">
      <img class="image" [src]="plante.photo" alt="Image plante" class="img-rounded">
    </div> 
    <!-- Div concernant les infos de la photo -->
    <div *ngIf="booleanPanelInfo" class="panel-info">
      <div><span>Soumis par l'utilisateur: </span> <span class="info-valeur">{{plante.utilisateur}}</span></div>
      <div><span>L'espèce: </span> <span class="info-valeur">{{plante.espece}}</span></div>
      <div><span>Le genre: </span> <span class="info-valeur">{{plante.genre}}</span></div>
      <div><span>La famille: </span> <span class="info-valeur">{{plante.famille}}</span></div>
      <div><span>L'ordre: </span> <span class="info-valeur">{{plante.ordre}}</span></div>
      <div><span>La classe: </span> <span class="info-valeur">{{plante.classe}}</span></div>
      <div><span>L'embranchement: </span> <span class="info-valeur">{{plante.embranchement}}</span></div>
      <div><span>La ville où a été prise la photo: </span> <span class="info-valeur">{{plante.ville}}</span></div>
      <div><span>La date de l'ajout de la photo:</span> <span class="info-valeur">{{plante.dateSoumission}}</span></div>
    </div>
    <!-- Div concernant l'ajout d'une identification à la photo-->
    <div *ngIf="booleanAjoutIdentification" class="panel-identification">
      <label>La taxonomie:</label>
      <select  [(ngModel)]="tmpSelectElement" class="selectpicker" data-live-search="true">
          <option data-tokens="espèce">Espece</option>
          <option data-tokens="genre">Genre</option>
          <option data-tokens="famille">Famille</option>
          <option data-tokens="ordre">Ordre</option>
          <option data-tokens="classe">Classe</option>
          <option data-tokens="embranchement">Embranchement</option>
        </select>
        <br><br>
        <input [(ngModel)]="tmpvaleurElement" class="form-control input-sm" id="inputsm" type="text" placeholder="Exemple: Passiflora">
        <br><br>
        <div class="form-group">
            <label for="comment">Commentaire:</label>
            <textarea [(ngModel)]="tmpCommentaire" class="form-control" rows="5" id="comment"></textarea>
          </div>
        <button (click)="addVersionElement()" type="submit">Sousmettre</button>
    </div>
</div>
<!-- TODO     div *ngIf="edit"  et la fonction modifie le booléen-->
<button (click)="displayPanelInformations()" type="button" class="btn btn-primary">Afficher Informations</button>
<button (click)="displayPanelIdentifications()" type="button" class="btn btn-primary">Afficher les identifications</button>
<!-- <button type="button" class="btn btn-warning">Afficher commentaires</button>-->
<button (click)="addIdentification()" type="button" class="btn btn-success">Ajouter identification</button>
<!-- <button type="button" class="btn btn-danger">Commenter</button> -->

  

<!-- ######### Panel pour l'affichage des versions suivant le nombre de votes ##########-->
<div *ngIf="booleanIdentificationPanel" class="panel-liste-identification">
  <!-- Un selecteur pour filtrer-->
  <select (click)="filterMetadonnees()"  [(ngModel)]="tmpSearchField" class="selectpicker" data-live-search="true">
      <option data-tokens="espèce">Espece</option>
      <option data-tokens="genre">Genre</option>
      <option data-tokens="famille">Famille</option>
      <option data-tokens="ordre">Ordre</option>
      <option data-tokens="classe">Classe</option>
      <option data-tokens="embranchement">Embranchement</option>
    </select>

  <div id="liste-identification">
      
      
  </div>
</div>
