<h2>Les plantes à identifier </h2>
<!-- 
<ul *ngFor="let p of plantes">
  <li (click)="onSelect(p)">{{p.genre|uppercase}} {{p.ordre}} {{p.famille}}</li> <a [routerLink]="['/plante',p.id]">VOIR</a>
</ul>
-->


<div id="liste-plantes">
  <div *ngFor="let p of plantes" class="card" style="width: 18rem;">
    <!-- <div class="card" style="width: 18rem;"> -->
      <img class="card-img-top" [src]="p.photo" alt="Image plante" height="300" width="300">
      <div class="card-body">
        <h5 *ngIf="p.genre!==''" class="card-title">{{p.genre}}</h5>
        <h5 *ngIf="p.famille!==''" class="card-title">{{p.famille}}</h5>

        <!-- <p class="card-text">{{p.famille}}</p> --> 
        <p class="card-utilisateur"> Soumis par {{p.idUtilisateur.login}}</p>
        Nombre d'identifications <span class="badge"> 10 </span>
        <!-- {{p.listeVersion.length}}-->  
        <a [routerLink]="['/plante',p.id]" class="btn btn-primary">Identifier</a>
      </div>
    <!-- </div>-->
  </div>
</div>

